[Unit]
Description=RFID Cards for Volumio

[Service]
ExecStart=/home/volumio/rfid/play.py
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=rfid
Restart=on-failure
RestartSec=5s
